* {
    font-family: Verdana, sans-serif;
}

body {
    background-color: #F1F1F1;
    background-image: url(../images/ingredients.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-title {
    font-size: 40px;
}

.title {
    color: #3a405a;
    text-align: center; 
}

.recipes-list {
    list-style: none;
    padding: 8px;
    margin: 0;
    position: relative;
    top: 100px;
    left: 500px;
    height: auto;
    width: 450px;
    font-size: 20px;
}

.recipes-list li {
    text-align: center;
    /* border: solid green 2px; */
    /* padding: 20px; */
}

.recipes-list li a {
    display: block;
    color: #000;
    padding: 8px;
    /* border: solid blue 2px; */
    text-decoration: none;
}

.recipes-list li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    border-radius: 10px;
}