* {
    background-color: #F1F1F1;
    font-family: Verdana, sans-serif;
}

.main-title {
    font-size: 40px;
}

.title {
    color: #3a405a;
    text-align: center; 
}

h2 {
    font-size: 24px;
    text-decoration: underline;
}  

.container {
    margin-top: 75px;
    display: flex;
    flex-direction: row;
}

.img-section {
    display: block;
    width: 40%;
}

img, figure {
    display: inline-block;
}

img {
    height: auto;
    width: 500px;
}

.texts-section {
    display: flex;
    flex-direction: column;
}

.ingred-section, .steps-section {
    height: auto;
}

.ingred-section {
    margin-top: 50px;
}

.steps-section ol li, .ingred-section ul li {
    line-height: 28px;
}

.steps-section ol li {
    margin: 8px;
}

footer {
    text-align: center;
}