h2 {
    font-size: 24px;
    text-decoration: underline;
}  

.img-section {
    display: block;
    border: solid black 2px;
    width: 40%;
}

.container {
    display: flex;
    border: solid red 2px;
}

img {
    height: auto;
    width: 500px;
}